
case `uname` in
        Darwin)
          alias ls="gls -FlhaN --group-directories-first --color=auto"
	;;
        Linux)
          alias ls="ls -la"
	;;
esac

if [ -f ~/.local/bin/lvim ]; then
    alias lvim=~/.local/bin/lvim
    alias vi=lvim
    alias vim=lvim
else
    alias vi=/opt/homebrew/bin/nvim
    alias vim=/opt/homebrew/bin/nvim
fi

alias python3=/opt/homebrew/bin/python3
alias cat=bat
